<table class="table">
  <tbody>
    <tr>
      <td>Тип</td>
      <td>{{ product.type }}</td>
    </tr>
    <tr>
      <td>Конструкция</td>
      <td>{{ product.construction }}</td>
    </tr>
    <tr>
      <td>Беспроводные</td>
      <td>{{ product.wireless }}</td>
    </tr>
    <tr>
      <td>Длина кабеля</td>
      <td>{{ product.cable_len }}</td>
    </tr>
    <tr>
      <td>Частотный дипозон</td>
      <td>{{ product.frequency }}</td>
    </tr>
    <tr>
      <td>Чувствительность</td>
      <td>{{ product.sensitivities }}</td>
    </tr>
  </tbody>
</table>
