{% extends 'base.html' %}
{% block content%}
<nav aria-label="breadcrumb" style="margin-left: 20px; margin-top: 20px; margin-bottom: 20px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
    </ol>
</nav>
<div class="row text-center" style="margin-left: 20px;">
    <div class="col-md-5" style="margin-left: 100px;">
        <img src="{{ product.image.url }}" class="img-fluid" alt="">
    </div>
    <div class="col-md-4" style="margin-top: 100px;">
        <h2>{{product.title}}</h2>
        <p>{{product.description}}</p>
        <h3>{{product.price}} BYN</h3>
        {% if user.is_authenticated %}
        <a class="btn btn-outline-drk mt-auto" href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}">
            Добавить в корзину
        </a>
        {% else %}
        <a class="btn btn-outline-dark mt-auto" href="{% url 'login' %}">
            Добавить в корзину
        </a>
        {%endif%}
    </div>
</div>

    <div class="text-center">
        <h2 class="mt-4">Характристики: </h2>
        {% if product.category.slug == 'earphonesproduct' %}
        {% include 'earphones_specifications.html'%}
        {% else %}
        {% include 'speakers_specifications.html'%}
        {% endif %}
    </div>
</div>


{% endblock %}

